{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock head %}
{% block body %}
<div class="card w-50" style="padding-top:20%">
    
    <div class="card-body">

    <form method="post" class="form-signin">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal text-center">Register Here</h1>
        {{ form|crispy }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>

</div>
</div>
{% endblock body %}


