{% extends "base.html" %}
{% load static %}
{% block head %}
{% endblock head %}
{% block body %}

<header class="container">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand mx-2" href="#">Inventory System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mx-2">
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "ProductLink" %}">Product</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url "OrderLink" %}">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
</header>


<main role="main" class="container">
  <div class="">

    <div class="col-md-4" style="padding-top:120px"><h1>{% block pagename %}{% endblock pagename %}</h1></div>
    <div class="col-md-4">{% block messages %}{% endblock messages %}</div>
    <div class="col-md-4">{% block productnew %}{% endblock productnew %}</div>
  </div>

  
  {% block content %}
          
  {% endblock content %}

{% block canvas %}

{% endblock canvas %}
</main>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>


{% endblock body %}
